<div class="login-status-header">
    <!-- <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
        Welcome {{ userFullName }}!
    </div> -->

    <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">
        Login
    </button>

    <ng-container *ngIf="isAuthenticated" class="ml-10">
        <div class="row">
            <div class="col">
                <div ngbDropdown class="d-inline-block">
                    <button class="security-btn" id="dropdownBasic1" ngbDropdownToggle>Welcome {{ userFullName
                        }}!</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem routerLink="/customer-details">Account details</button>
                        <button ngbDropdownItem routerLink="/subscriptions">My Subscriptions</button>
                        <button ngbDropdownItem routerLink="/order-history">Orders History</button>
                        <button ngbDropdownItem (click)="logOut()">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>