<div class="main-content" >
    <div class="panel section-content section-content-p30">
        <div class="container-fluid">
            <a routerLink="/products" style="float:right;">Back to Product List</a>
            <br />

            <div class="general-info">
                <img src="{{ imageUrl }}" class="detail-img">
                <div>
                    <h3> {{ product.name }} </h3>
                    <div class="price">{{ product.unitPrice | currency:'RON' }}</div>
                    <button (click)="addToSubscription(product)" class="btn btn-primary btn-sm mt-1">Add to subscription</button>
                    <div *ngIf="isAdmin">
                        <button (click)="deleteProduct(product.id)" class="btn btn-primary btn-sm mt-1">Delete Product</button>
                    </div>
                </div>
            </div>

            <hr>
            <h4>Description</h4>
            <p>{{ product.description }}</p>
        </div>
    </div>
</div>


